.conclusion_desktop {
    display: none;
    @media (min-width: 1280px) {
        display: block;
        min-width: 695px;
        margin-bottom: 30px;
    }
    p:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

.conclusion_tablet-and-mobile {
    display: none;
    margin-bottom: 30px;
    @media (max-width: 1279px){
        display: block;
    }
    @media (max-width: 768px){
        margin-bottom: 28px;
    }

    h2 {
        @media (max-width: 768px){
            margin-bottom: 4px;
        }
    }
}