.header {
    margin-bottom: 48px;
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
    .header__top {
        display: flex;
        justify-content: space-between;
        @media (min-width: 320px) {
            display: block;
            margin-bottom: 12px;
        }
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }
        .header__top__title {
            .keys {
                width: 94px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 13px;
                line-height: 20px;
                color: #333333;
                background: #FFDD2D;
                @media (min-width: 320px) {
                    margin-bottom: 16px;
                }
                @media (min-width: 768px) {
                    margin-bottom: 12px;
                }
            }
            .title_desktop {
                display: block;
                max-width: 500px;
                @media (max-width: 1280px) {
                    display: none;    
                }
                h1 {
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 44px;
                    color: #111111;
                }
            }
            .title_tablet-and-mobile {
                display: none;
                @media (max-width: 768px) {
                    margin-bottom: 12px;   
                }
                @media (max-width: 1280px) {
                    display: block;
                    max-width: 355px;
                }
                h1 {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 28px;
                    color: #111111;
                }
            }
        }
        .header__top__logo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #F1F3F5;
        }
    }
    .header__bottom {
        .header__bottom__title {
            margin-bottom: 8px;
            h6 {
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;
                color: #808C9E;
                @media (max-width: 768px) {
                    font-size: 15px;
                    line-height: 24px;
                }
            }
        }
        .categories {
            display: flex;
            @media (max-width: 768px) {
                display: block;
            }

            li {
                font-weight: 400;
                font-size: 17px;
                line-height: 28px;
                color: #808C9E;
                background: #F1F3F5;
                margin-right: 12px;
                @media (max-width: 768px) {
                    display: inline-block;
                    font-size: 15px;
                    line-height: 24px;
                    margin-right: 0;
                    margin-bottom: 12px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                @media (min-width: 768px) and (max-width: 1280px) {
                    &:last-of-type {
                        display: none;
                    }
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
