.tasks {
    margin-bottom: 76px;
    @media (max-width: 1280px) {
        margin-bottom: 48px;
    }
    @media (max-width: 768px) {
        margin-bottom: 12px;
    }
    p {

        b {
            font-weight: 700;
        }

        &:last-of-type {
            margin-bottom: 0
        }
    }
    ul {
        li {
            margin-bottom: 20px;
            @media (max-width: 1280px) {
                margin-bottom: 16px;
            }
            b {
                font-weight: 700
            }
        }
    }
}